.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row {
    height: 100%;
    background-color: #bfdce3;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 50vmin;
}