.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header>p {
  width: 95%;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10% 0 0;
  justify-content: space-evenly;
  font-size: calc(10px + 1vmin);
  height: 10vmin;
  color: white;
  background-color: #282c34;
}

.React-Infos {
  display: flex;
  width: 5%;
  flex-direction: column;
  align-items: start;
  padding: 0 0 0 5%;
  justify-content: center;
  font-size: calc(10px + .1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}