.Project-container {
    margin: 10px;
    border: 1px solid #282c34;
    border-radius: 10px;
    height: 100%;
    font-size: calc(10px + 1vmin);
    color: #ffffff;
    padding: 10px;
    font-weight:500;
    text-align: left;
    background: rgba(0, 0, 0, 0.322);
}

.list {
    font-weight:300;
    & > p {
        margin: 10px;
    }
}