* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  height: 100vmin;
}

.App-Content {
  display: flex;
  justify-content: center;
  height: 90vmin;
  padding: 20px;
  background-color: #3F4756;
  align-items: center;
}

.App-Content>div {
  width: 100%;
}

.App-Content>div:first-child {
  width: 50%;
}

button {
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px;
  background: #c9ccd134;
  color: #5ac5e3;
  padding: 10px;
  font-size: medium;
  font-weight: 900;
  cursor: pointer;
  &:hover{
    background: #5ac5e3;
    color: white;  
  }
}